<!DOCTYPE html>
<html>

  {% include head.html %}

 <!--  <body data-spy="scroll" data-target="#myAffix"> -->
  <body>

    {% include header.html %}

    <div id="main" class="container main">
      {{ content }}
    </div>

    
    <div id="top" data-toggle="tooltip" data-placement="left" title="back to top">
      <a href="javascript:;">
        <div class="arrow"></div>
        <div class="stick"></div>
      </a>
    </div>

    {% include footer.html %}

    {% include newpost.html %}
  
  </body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75831470-1', 'auto');
  ga('send', 'pageview');

</script>
